<container>
    <main-container>
      <h1 class="main-title">Z<span id='burger-menu'>E</span>BRA REC.</h1>
      <h4>[booking agency]</h4>
      <menu id='menu'>
        <ul>
          <li><p>log in</p></li>
          <li><p>artists</p></li>
          <li><p>past events</p></li>
          <li><p>about us</p></li>
          <li><p id='close-menu'>x</p></li>
        </ul>
    </menu>
    </main-container>
  </container>