<container>
    <main-container>
      <h1 class="main-title">Z<span id='burger-menu'>E</span>BRA REC.</h1>
      <h4>[booking agency]</h4>
      <menu id='menu'>
        <ul>
          <li><p>artists</p></li>
          <li><p>past events</p></li>
          <li><p>about us</p></li>
          <% if current_user %>
            <li><p><%= link_to 'your account',edit_user_registration_path %></p></li>
          <% else %>
            <li><p><%= link_to 'login',new_user_session_path %></p></li>
          <% end %>
          <li><p id='close-menu'>x</p></li>
        </ul>
    </menu>
    <% if current_user %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    <% end %>
    </main-container>
  </container>